
// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// Ionic iOS Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import 'ionic.ios';


// App iOS Only Sass
// --------------------------------------------------
// CSS that should only apply to the iOS app
